<script>
    function addDynamicTextInputLogic(attributes, preloadedValues){
        const addButton = document.getElementById(`${attributes['name']}-add-button`);
        const deleteButton = document.getElementById(`${attributes['name']}-delete-button`);
        const inputFieldsContainer = document.getElementById(`${attributes['name']}-input-container`);
        const required = 'required' in attributes;
        const minimumAllowed = required? 1 : 0;
        
        console.log(attributes);

        if(preloadedValues){
            preloadedValues.forEach(value => {
                createChild(value);
            });
        }
        if(required && inputFieldsContainer.childElementCount < minimumAllowed) createChild();

        addButton.addEventListener('click', () => createChild(null));

        // Function to delete the last input field
        deleteButton.addEventListener('click', function() {
            const lastInputField = inputFieldsContainer.lastElementChild;
            const alertText =required? 'هذه خانة إلزامية لا يمكن حذفها' : 'قد حذفت كل الخانات';
            if (inputFieldsContainer.childElementCount > minimumAllowed) {
                inputFieldsContainer.removeChild(lastInputField);
            } else {
                alert(alertText);
            }
        });

        function createChild(preloadedValue = null){
            const inputField = document.createElement('input');
            inputField.type = 'text';
            for (let attribute in attributes) {
                inputField.setAttribute(attribute, attribute == 'name'? attributes[attribute] + '[]' : attributes[attribute]);
            }
            if (preloadedValue != null) inputField.value = preloadedValue;
            inputFieldsContainer.appendChild(inputField);
        }
    }

</script>